.user-main-container {
  display: flex;
  flex-direction: column;
  height: 93vh;
  .user-image {
    height: 100px;
  }
  button {
    font-size: 8px;
    width: 60px;
    margin: 8px;
    cursor: pointer;
  }
  h2 {
    border-bottom: 2px solid #4CAF50;

    font-size: 30px;
    margin: 0 0 10px;
  }
}
.user-info-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  overflow: auto;
}

.user-info {
  flex-grow: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 20px;
    border-bottom: 2px solid #4CAF50;
    padding: 5px 0;
    margin: 10px 0 0;
  }
  .user-name-type {
    a {
      font-size: 20px;
    }
    div {
      font-size: 15px;
      margin-top: 10px;
    }
  }
  .user-repos {
    a {
      display: block;
      font-size: 15px;
    }
  }
  .user-organizations {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

.organizations {
  overflow: auto;
  flex-grow: 2;
  div {
    align-items: center;
    display: flex;
    border-top: 1px solid #4CAF50;
    padding: 5px 0;
    img {
      height: 40px;
      margin-right: 10px;
    }
  }
}

.organization-image {
  height: 30px;
}

@media (min-width: 575.98px) {
  .user-main-container {
    .user-image {
      height: 150px;
    }
    button {
      font-size: 10px;
      width: 60px;
      margin: 20px;
    }
  }
}

@media (min-width: 767.98px) {
  .user-main-container {
    .user-image {
      height: 200px;
    }
    button {
      font-size: 15px;
      width: 90px;
      margin: 20px;
    }
  }
  .organization-image {
    height: 50px;
  }
}

@media (min-width: 991.98px) {
  .user-main-container {
    .user-image {
      height: 250px;
    }
    button {
      font-size: 18px;
      width: 120px;
      margin: 25px;
    }
  }
}

@media (min-width: 1199.98px) {
  .user-main-container {
    .user-image {
      height: 350px;
    }
    button {
      font-size: 22px;
      width: 180px;
      margin: 30px;
    }
  }
}
