<div class="user-main-container" *ngIf="(userData|async) || userNotFound">
  <button (click)="navigateBack()"> <span>&#60;</span> Back</button>
  <ng-container *ngIf="!userNotFound; else template">
    <h2>{{(userData|async)[0]?.login}} </h2>
    <div class="user-info-container">
      <div>
        <img [src]="(userData|async)[0]?.avatar_url" class="user-image">
      </div>

      <div class="user-info">
        <div class="user-name-type">
          <a [href]="(userData|async)[0].html_url" target="_blank">{{(userData|async)[0].name}}</a>
          <div>{{(userData|async)[0].type}}</div>
        </div>

        <div class="user-repos">
          <h1>User Repos</h1>
          <a *ngFor="let repo of (userData|async)[1]" target="_blank" [href]="repo.html_url">{{repo.name}}</a>
          <div *ngIf="!(userData|async)[1]?.length">No repos to display</div>
        </div>

        <div class="user-organizations">
          <h1>User Organizations</h1>
          <div class="organizations">
            <div *ngFor="let organization of (userData|async)[2]">
              <img [src]="organization.avatar_url">
              <a [href]="'https://github.com/'+organization.login" target="_blank">{{organization.login}}</a>
            </div>
          </div>
          <div *ngIf="!(userData|async)[2]?.length">No organizations to display</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #template>
    There is not such User
  </ng-template>
</div>

