main {
  background: #f7f7f7;
}
@media (min-width: 575.98px) {
  main {
    margin: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px) {
  main {
    margin: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  main {
    margin: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px) {
  main {
    margin: 0 calc(50% - 590px);
  }
}
