.containerList {
  display: flex;
  padding: 5px 0;
  border-top:1px solid #4CAF50;
  img {
    height: 80px;
    margin-right: 2%;
  }
  .user-info {
    a {
      font-size: 20px;
    }
  }
  .repos {
    margin-left: auto;
    width: 200px;
    a {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.containerList:hover{
  border-top: 2px solid #2ae231;
  border-bottom: 2px solid #2ae231;
}

.containerGrid {
  border: 1px solid #4CAF50;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  img {
    // height: 200px;
  }
  .user-info {
    text-align: center;
    a {
      font-size: 20px;
    }
  }
  .repos {
    margin-right: auto;
    width: 100%;
    a {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 90%;
    }
  }
}

.containerGrid:hover{
  border: 2px solid #2ae231;
}

@media (max-width: 767.98px) {
  .containerList {
    padding: 5px;
    img {
      height: 60px;
      margin-right: 2%;
    }
    .user-info {
      a {
        font-size: 14px;
      }
    }
    .repos {
      margin-left: auto;
      width: 150px;
    }
  }
  .containerGrid {
    img{
      height: 100px;
    }
    border: 1px solid #4CAF50;
    padding: 3px;
    height: 220px;
    width: 150px;

    .user-info {
      a {
        font-size: 14px;
      }
    }
    .repos {
      margin-right: auto;
      width: 100%;
      a {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 767.98px) {
  .containerGrid {
    width: 200px;
    height: 320px;

    img {
      height: 200px;
    }
  }
}

@media (max-width: 345.98px) {
  .containerGrid {
    img{
      height: 70px;
    }
    border: 1px solid #4CAF50;
    padding: 3px;
    height: 160px;
    width: 140px;

    .user-info {
      a {
        font-size: 11px;
      }
      div{
        font-size: 12px;
      }
    }
    .repos {
      margin-right: auto;
      width: 100%;
      font-size: 11px;
      a {
          width: 90%;
        font-size: 11px;
      }
    }
  }
}

:host {
  margin: auto;
  margin-top: 5px;
}
