<div [ngClass]="{'containerGrid':!userViewInfo.viewType,'containerList':userViewInfo.viewType}">
  <img [src]="(userInfo$|async)?.avatar_url">
  <div class="user-info">
    <a *ngIf="(userInfo$|async)?.name  "
      [routerLink]="['',(userInfo$|async)?.login]">{{(userInfo$|async)?.name}}</a>
    <div>{{(userInfo$|async)?.type}}</div>
  </div>
  <div class="repos">
    <div>User Repos</div>
    <a *ngFor="let repo of userReposInfo$|async" target="_blank" [href]="repo.html_url">{{repo.name}}</a>
    <div *ngIf="!(userReposInfo$|async)?.length">No repos to display</div>
  </div>
</div>
