:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  align-items: center;
  border: 2px solid #4caf50;
  border-radius: 5px;
  input {
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #4caf50;
  }
  input:focus {
    outline: #4caf50;
    border-left: 1px solid #4caf50;
    border-top: 1px solid #4caf50;
  }
}
:host:hover{
  border: 2px solid #2ae231
}
.last-searches {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-buttons {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  margin-top: 5px;
  button {
    width: 100px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
  }
}

@media (max-width: 575.98px) {
  .search-buttons {
    width: 180px;
    button {
      width: 50px;
    }
  }
  .search-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 50px;
    }
    input {
      margin-bottom: 5px;
    }
  }
}
