<div class="search-field">
  <input #inp (keyup.enter)="searchUser(inp.value)">
  <button  (click)="searchUser(inp.value)">Find</button>
</div>

<div class="last-searches" *ngIf="previousSerches.length">
  <div> Last 3 searches </div>
  <div class="search-buttons"><button *ngFor="let search of previousSerches" (click)="searchUserFromList(search)">{{search}}</button></div>
</div>
