/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
}
button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
a{
  color:#4CAF50;
}


::-webkit-scrollbar {
  width: 10px;
}

button:hover {
  border: 2px solid  #2ae231;
}
a:hover{
  color: #2ae231;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #4CAF50;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4CAF50;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2ae231;
}
