<section>
  <div class="content">
    <div class="search-container">
      <search-user></search-user>
      <div class="search-header">
        <div >Github most popular Users</div>
        <div class="icons-container">
          <i class="fas fa-th-list" [style.color]="listView?'#4CAF50':'black'" (click)="changeViewType(true)"></i>
          <i class="fas fa-th-large" [style.color]="!listView?'#4CAF50':'black'" (click)="changeViewType(false)"></i>
        </div>
      </div>
    </div>

    <div [ngClass]="{'grid-View':!listView}" class="popular-users" infiniteScroll [listView]="listView" (richTheButtom)="richTheButtom()">
      <popular-users *ngFor="let user of popularUsers"
        [userViewInfo]="{userUrl:user.url, reposUrl:user.repos_url,viewType:listView}">
      </popular-users>
    </div>
  </div>
</section>
