.search-header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  border-bottom: 1px solid #4CAF50;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 7vh;
  align-items: center;
  i {
    cursor: pointer;
  }
  .icons-container > *:first-child {
    margin-right: 5px;
  }
}

.grid-View {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

section {
  padding: 0 15px;
}
.search-container {
  height: 30vh;
}
.popular-users {
  height: 67vh;
  overflow-y: auto;
  padding: 0 5px;
}

@media (max-width: 575.98px) {
  .search-header {
    font-size: 14px;
  }
}
